body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.App {
	margin-bottom: 20px;
}

.Avatar {
	height: 500;
	width: 400;
	text-align: center;
	vertical-align: middle;
}

.office-name {
	font-weight: bold;
	font-style: italic;
}
